body, html {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: auto;
}

body {
  font-weight: normal;
}

html, body, #__nuxt {
  height: 100%;
}

#__layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
